{:source-paths
 ["../recon/modules/frontend/graphql-cache/src"]

 ; :nrepl {:port 8450}

 :dependencies
 [
   [binaryage/devtools "0.9.10"]
   [vincit/venia "0.2.5"]
   ;[district0x/graphql-query "1.0.5"]
   ]


 :builds
 {:npm {:target :npm-module
        :output-dir "node_modules/graphql-sync-multi-platform"
        :runtime :browser
        :entries [graphql-cache.core]}}}
