.pay-content-wrap {
    color: #323233;
}

.pay-content-wrap > div{
    margin-bottom: 10px;
    background: white;
    padding: 10px;
}

.pay-content-price {
    text-align: center;
}

.pay-content-price p:first-child {
    padding-top: 20px;
}

.pay-content-price p:nth-child(2) {
    font-size: 24px;
    font-weight: 500;
}

.pay-content-type p:first-child {
    color: #929292;
    font-size: 12px;
}

.pay-content-type span {
    padding-left: 10px;
}

.pay-content-type span:last-child {
    float: right;
}

.confirm-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.confirm-button {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #f44;
    border: 1px solid #f44;
    font-size: 16px;
    text-align: center;
    letter-spacing: 2px;
}

.pay-disabled {
    opacity: 0.5;
}