.orders__delivery {
  margin-bottom: 20px;
  background: white;
  font-size: 28px;
  line-height: 56px;
  padding: 10px 30px;

  &-picker {
    border-bottom: 1px solid #ebedf0;
    width: 20%;
    max-width: 180px;

    &-select {
      float: right;
    }
  }

  &-message {
    display: flex;
    flex-direction: row;

    &-title {
      width: 20%;
      max-width: 180px;
    }
  }
}
