@import "../../../styles/theme.scss";

.cart-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  background: #faf9fa;
}

.cart-footer__select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  padding-left: 30px;

  &-txt {
    color: #7f7f7f;
    font-size: 28px;
    line-height: 28px;
  }
}

.cart-footer__amount {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 30px;

  &-txt {
    color: $primary-color;
    font-size: 28px;
  }
}

.cart-footer__btn {
  width: 226px;
}


.footer{
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100%;
}

.jiesuan {
  height: 100%;
  display: flex;
  font-size: 28px;
  align-items: center;
  background-color: #fdfbfb;
  border-top: 2px solid #f5f5f9;
  z-index: 3;
}

.jiesuan-disabled {
  opacity: 0.5;
}

.jiesuan-checkbox_label {
  color: #323233;
  margin-left: 20px;
  vertical-align: middle;
  line-height: 40px;
}

.jiesuan-total {
  flex: 1;
  font-weight: 500;
  text-align: right;
  color: #323233;
  padding-right: 24px;
}

.jiesuan-total_price {
  color: #f44;
  font-size: 36px;
}

.jiesuan-button {
  width: 220px;
  height: 100%;
  color: #fff;
  background-color: #f44;
  border: 1px solid #f44;
  font-size: 32px;
  text-align: center;
}

button {
  border-radius: 0;
}
