@import "./mixins.scss";

//$primary-color: #ab2b2b;
$primary-color: #f44;
$sub-color: #ffd6c7;
$disabled-color: #dddddd;
$background-color: #f5f5f9;

$black: #000000;
$white: #ffffff;
$pink: #fb9494;
$red: #f44;

$text-color: #333333;
$text-color-light: #666666;
$text-color-lighter: #999999;

$border-color: #dddddd;
$border-radius: 4px;

$image-bg: #f4f4f4;
