.order-page {
  min-height: 100vh;
  background-color: #f9f9f9;
  .toggleType {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    .item {
      display: inline-block;
      width: 25%;
      text-align: center;
      font-size: 24px;
      font-weight: 200;
      color: #666;

      &.active {
        color: #ec5d75;
        font-weight: 400;
      }
    }
  }
}
