.address-button-group {
    margin-top: 30px;
}

.address-button {
    margin-top: 5px;
}

.address-default-checked {
    background: white;
    font-size: 16px;
    padding: 10px 10px 15px 15px;
    border-top: 1px solid #ebedf0;
    width: 100%;
}

.address-default-checked span:last-child{
    float: right;
}