@import "../../styles/theme.scss";

.logo_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #fafafa;

    &-txt {
        color: $text-color-lighter;
        font-size: 28px;
    }
}