.my-wrap {
}

.avatar-area {
    height: 150px;
    /*background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);*/
    background-image: linear-gradient(to top, #ffdcd2 0%, #ffdbd1 1%, #fd898c 100%);
    position: relative;
    border-bottom-left-radius: 80% 15%;
    border-bottom-right-radius: 80% 15%;
}

.avatar {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background-color: #e8e8e8;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nickname {
    color: white;
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
}

.my-card {
    background-color: white;
    margin-top: 15px;

}

.card-title {
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    font-size: 18px;
    border-bottom: 1px solid #F3F3F3;
}