.cart-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 45px;
}

.cart-empty div{
    margin: 10px;
}

.empty-button {
    width: 110px;
    height: 100%;
    color: #fff;
    background-color: #f44;
    border: 1px solid #f44;
    font-size: 14px;
    text-align: center;
    padding: 5px;
}