.address-card {
    background-color: white;
    padding: 10px;
    font-size: 16px;
    color: black;
    display: flex;
    border: 1px solid #F3F3F3;
    justify-content: space-between;
    align-items: center;
}

.address-add {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-top: 1px solid #F3F3F3;
    height: 50px;
    line-height: 50px;
    box-shadow: 3px -1px 1px #ebedf0;
    background-color: #f44;
    color: white;
}

.address-info{
    width: 85%;
}

.address-edit {
    width: 15%;
    text-align: center;
}

.address-username {
    font-weight: 500;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.address-address {
    font-size: 14px;
}

.address-label {
    font-size: 12px;
    padding: 0 10px;
    background-color: #ff6d6d;
    color: white;
    border-radius: 10px;
}