.kind-search-wrap {
    height: 50px;
    position: relative;
    z-index: 0;
}

.kind-search {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.kind-wrapper {
    height: 100%;
    background-color: white;
    position: relative;
    z-index: 0;
}

.kind-empty {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.kind-empty > div {
    padding: 5px;
}

.kind-navbar-wrap {
    width: 100%;
    height: 45px;
    z-index: 1
}

.kind-navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.kind-title {
    display: block;
    color: #f44;
    font-size: 16px;
    margin: 0 auto;
    padding: 20px 0;
    width: 120px;
    text-align: center;
}